//contact form
.contact {
    min-height: 60vh;
    margin-top: 10vh;
}

.contact h3 {
    margin: 4vh 0;
    text-transform: capitalize;
}

input {
    width: 100%;
    background-color: transparent;
    border: none;
    border: 2px solid transparent;
    border-bottom: 2px solid $lightText;
    color: $lightText;
    padding: 15px 0px;
}

.contactNameEmail,
.contactForm > .inputWrapper {
    margin-bottom: 25px;
}

.contactNameEmail .inputWrapper {
    width: 48%;
}


.inputWrapper {
    position: relative;
    
}

.inputFocusTag {
    display: none;
    position: absolute;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $accent;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

input:focus {
    border-bottom: none;
    outline: none;
}

input:focus ~ .inputFocusTag {
    display: inline;
    text-transform: capitalize;
    color: $lightText;
    font-size: 0.75rem;
    top: -10px; 
    left: 0;
}

input:focus ~ .underline {
    transform-origin: bottom left;
    transform: scaleX(1);
}

.contactNameEmail {
    display: flex;
    justify-content: space-between;
}


.contactSend {
    border: 2px solid $accent;
    background-color: $background;
    color: $accent;
    padding: 5px 35px;
    margin: 30px 0 0 0;
    border-radius: 50px;
}

.contactSend:hover {
    background-color: $accent;
    color: $background;
}


//footer section
footer {
    margin-top: 10vh;
    border-top: 2px solid $links;
}

.footerWrap {
    width: 100%;
    display: flex;
}

footer a {
    font-size: 1rem;
}

footer h2 {
    margin: 10vh 0; 
}

.footerLeft, 
.footerRight {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

footer .profileKey {
    flex-basis: 25%;
    color: $links;
}

footer .profileValue {
    flex-basis: 75%;
}

.footerSocial {
    margin: 5vh 0 15vh 0;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footerSocial a {
    font-size: 2rem;
    color: $links;
}

footer a:hover {
    color: $accent;
}

.copyright {
    text-align: center;
    margin-bottom: 25px;
}

//--------------------------------------------
//------media queries for responsive----------
//--------------------------------------------
@media(max-height: 650px) {
    .contact {
        margin-top: 20vh; 
    }
}

@media (max-width: 925px) {
    .contact {
        padding: 0 25px 0 25px;
    }
    
    .contactNameEmail {
        display: block;
    }

    .contactNameEmail .inputWrapper {
        width: 100%;
    }

    .topInput {
        margin-bottom: 25px;
    }

    .footerSocial {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .footerSocial {
        width: 85%;
    }
}

@media (max-width: 450px) {
    .contact {
        padding-top: 15vh;
    }
}
