//contact form
.contact {
    min-height: 60vh;
}

.contact h3 {
    padding: 4vh 0;
    text-transform: capitalize;
}

input {
    width: 100%;
    background-color: $background;
    border: none;
    border-bottom: 2px solid $lightText;
    color: $lightText;
    padding: 15px 0px;
    margin-bottom: 25px;
}

.contactNameEmail .inputWrapper {
    width: 48%;
}

.inputWrapper {
    position: relative;
    
}

.inputFocusTag {
    display: none;
}


input:focus {
    border-bottom: 2px solid $accent;
}

input:focus ~ .inputFocusTag {
    display: inline;
    text-transform: capitalize;
    color: $lightText;
    font-size: 0.75rem;
    position: absolute;
    top: -10px;
    left: 0;
}

.contactNameEmail {
    display: flex;
    justify-content: space-between;
}


.contactSend {
    border: 2px solid $accent;
    background-color: $background;
    color: $accent;
    padding: 5px 35px;
    margin: 30px 0 0 0;
    border-radius: 50px;
}

.contactSend:hover {
    background-color: $accent;
    color: $background;
}


//footer section
footer {
    margin-top: 15vh;
    border-top: 2px solid $links;
}

.footerWrap {
    width: 100%;
    display: flex;
}

footer a {
    font-size: 1rem;
}

footer h2 {
    margin: 10vh 0; 
}

.footerLeft, 
.footerRight {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

footer .profileKey {
    flex-basis: 25%;
    color: $links;
}

footer .profileValue {
    flex-basis: 75%;
}

.footerSocial {
    margin: 5vh 0 15vh 0;
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.footerSocial a {
    font-size: 2rem;
    color: $links;
}

footer a:hover {
    color: $accent;
}

//--------------------------------------------
//------media queries for responsive----------
//--------------------------------------------

@media (max-width: 925px) {
    .contact {
        padding: 0 25px;
    }
    
    .contactNameEmail {
        display: block;
    }

    .contactNameEmail .inputWrapper {
        width: 100%;
    }

    .footerSocial {
        width: 50%;
    }
}

@media (max-width: 550px) {
    .footerSocial {
        width: 85%;
    }
}