//styling components that come with jquery-modal library

.blocker {
    background-color: rgba(237, 247, 252, 0.7);
} 

.modal {
    background-color: $background;
    border-radius: 10px;
    max-width: 80%;
    box-shadow: 0 25px 20px -15px $links, 0px 0px 20px 5px $links;  
    padding: 0;
}

.modal a.close-modal {
    top: 12.5px;
    right: 12.5px;
    height: 15px;
    width: 15px;
    background-image: url("../assets/003-cancel.svg");
}

//custom components
.modalWrapper {
    display: flex;
}

.projImg {
    width: 50%;
}

.projImg img {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.projDesc {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.modal h3{
    margin: 10px 0 25px 0;
    text-transform: capitalize;
}

.modal a,
.modal p {
    font-size: 0.9rem;
    margin-bottom: 25px;
}

.modal a {
    color: $links;
}

.projDesc a:hover {
    color: $accent;
}

.projDesc a ~ p {
    margin-bottom: 75px;
}

.projIcons {
    display: flex;
    width: 100%;
    text-align: center;
}

.projIcons .skillIcons {
    margin-right: 25px;
}

.projIcons p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.projIcons p {
    margin-right: 3px;
}