//styling components that come with jquery-modal library

.blocker {
    background-color: rgba(237, 247, 252, 0.7);
} 

.modal {
    background-color: $background;
    border-radius: 10px;
    max-width: 100%;
    box-shadow: 0 25px 20px -15px $links, 0px 0px 20px 5px $links;  
    padding: 0;
}

.modal a.close-modal {
    top: 12.5px;
    right: 12.5px;
    height: 25px;
    width: 25px;
    background-image: url("../assets/003-cancel.svg");
}

//custom components
.modalWrapper {
    display: flex;
}

.projImg {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.proj1 {
    @include modalImage("../assets/project1modal.jpg", cover);
}

.proj2 {
    @include modalImage("../assets/project2modal.jpg", cover);
    background-position: 75% center;
}

.proj3 {
    @include modalImage("../assets/project3modal.jpg", cover);
}

.proj4 {
    @include modalImage("../assets/project4modal.jpg", cover);
    background-position: center center;
}

.proj5 {
    @include modalImage("../assets/project5modal.jpg", cover);
    background-position: center center;
}

.proj6 {
    @include modalImage("../assets/project6pic.png", cover);
}

.projImg img {
    display: none;
}

.projDesc {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 35px;
}

.modal h3{
    margin: 10px 0 25px 0;
    padding: 0;
    text-transform: capitalize;
    color: $text;
    background-color: $background;
}

.modal a,
.modal p {
    font-size: 0.9rem;
    margin-bottom: 25px;
}

.modal a {
    color: $links;
}

.projDesc a:hover {
    color: $accent;
}

.projDesc a ~ p {
    margin-bottom: 75px;
}

.projDesc > a {
    color: $links;
    font-weight: bold;
}

.projIcons {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}

.projIcons .skillIcons {
    margin-right: 25px;
}

.firebaseIcon {
    width: 2rem;
}

.projIcons p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.projIcons p {
    margin-right: 3px;
}

//-----------------------------------
//------responsive media queries-----
//-----------------------------------

@media (max-width: 1050px) {
    .modalImg {
        display: none;
    }

    .projImg {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

}

@media (max-width: 950px) {
    .modalWrapper {
        flex-direction: column;
    }

    .projImg {
        width: 75%;
        height: 75vw;
        margin: 7.5vh auto 0 auto;
        border-radius: 10px;
    }

    .projDesc {
        flex-basis: 100%;
    }
}

@media (max-width: 700px) {

    .projImg {
        width: 75%;
        height: 75vw;
        margin: 7.5vh auto 0 auto;
        border-radius: 10px;
    }

}

@media (max-width: 550px) {
    .modal {
        width: 92%;
    }

    .projImg {
        width: 75%;
        height: 75vw;
        margin: 50px auto 0 auto;
    }

    .projIcons {
        grid-auto-columns: repeat(3, 1fr);
    }
}

@media (max-width: 450px) {

    .projIcons {
        grid-auto-columns: repeat(2, 1fr);
    }

    .projImg {
        width: 90%;
        height: 75vw;
    }
}