.portfolio {
    margin-top: 17.5vh;
    padding-bottom: 20vh;
}

.portfolioNav {
    width: 45%;
    margin: 30px auto 60px auto;
    display: flex;
    justify-content: space-between;
}

.portfolioGrid {
    display: grid;
    //2 rows of 6 columns
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10%;
    text-align: center;
}

.portfolioTile {
    display: block;
    position: relative;
}

.portfolioTile:hover {
    box-shadow: 0 25px 20px -15px $accent;  
}

// .overlay {
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: $background;
//     opacity: 0.4;
// }

// .overlay:hover {
//     opacity: 0;
// }

//portfolio nav
.portfolio button {
    appearance: none;
    border: none;
    background-color: $background;
    padding: 12px 30px;
}
.portfolio button.selected {
    border-radius: 50px;
    background-color: $accent;
    color: $background;
    
}