.portfolio {
    min-height: 100vh;
}

.portfolio .innerWrapper {
    padding-top: 1vh;
}

.portfolioNav {
    width: 45%;
    margin: 30px auto 60px auto;
    display: flex;
    justify-content: space-between;
}

.portfolioGrid {
    display: grid;
    //2 rows of 3 columns
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10%;
    text-align: center;
}

.portfolioTile {
    display: block;
    position: relative;
}

.portfolioTile img {
    border-radius: 10px;
}

.portfolioTile:hover {
    box-shadow: 0 25px 30px -15px $accent;  
}

//portfolio nav
.portfolio button {
    appearance: none;
    border: none;
    background-color: $background;
    padding: 12px 30px;
}
.portfolio button.selected {
    border-radius: 50px;
    background-color: $accent;
    color: $background;
    
}