.portfolio {
    min-height: 100vh;
}

.portfolio .innerWrapper {
    padding-top: 1vh;
}

.portfolioNav {
    margin: 30px auto 60px auto;
    display: flex;
    justify-content: center;
}


.portfolioGrid {
    display: grid;
    //2 rows of 3 columns
    grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
  grid-auto-rows: 1fr;
    // grid-gap: 20px;
}

//from krystof korb to get square tiles
.portfolioGrid:before {
    content: "";
    width: 0;
    padding-bottom: 100%;
    grid-row: 1/1;
    grid-column: 1/1;
}

.portfolioGrid > *:first-child {
    grid-row: 1/1;
    grid-column: 1/1;
} 


.portfolioTile {
    display: block;
}



.portfolioTile img {
    border-radius: 10px;
}

.portfolioTile:hover {
    box-shadow: 0 25px 30px -15px $accent;  
}

//portfolio nav
.portfolio button {
    appearance: none;
    border: none;
    background-color: $background;
    padding: 12px 30px;
}
.portfolio button.selected {
    border-radius: 50px;
    background-color: $accent;
    color: $background;
}

@media (max-width: 900px) {

}