//------------------
//----variables-----
//------------------

$accent: #ff3511;
$background: #f3f6ff;
$text: #181f33;
$lightText: #6f6f6f;
$links: #6D6D6D;
$focus: #4b89ed;


//------------------
//----mixins--------
//------------------
@mixin modalImage($picURL, $size) {
    background-image: url($picURL);
    background-size: $size;
    background-repeat: no-repeat;
    background-position: center center;
}